.banner {
  position: relative;
  margin-top: 68px;
  margin-bottom: 50px;
  margin-right: min(100px);
  margin-left: min(100px);
  margin-right: max(10%);
  margin-left: max(10%);
  object-fit: contain;
}

.banner_img {
  width: 100%;
  border-radius: 25px;
  filter: brightness(0.7);
}

.banner_txt {
  position: absolute;
  top: 40%;
  left: 47%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .banner_img {
    height: 150px;
    width: 100%;
  }

  .banner {
    width: 90%;
    margin: 16px 20px 22px 20px;
  }

  .banner_txt {
    font-size: 24px;
    text-align: left;
  }
}
